<header>
  <BsNavbar
          @type="dark"
          @backgroundColor="dark"
          @collapsed={{true}}
          @onCollapse={{fn (mut this.collapsed) true}}
          @onExpand={{fn (mut this.collapsed) false}} as |navbar|>
    <div class="container d-flex">
      <div class="navbar-header">
        <navbar.toggle/>
        <FaIcon @icon="book-open" class="fa-inverse"/>
        <LinkTo @route="index" class="navbar-brand">Library App</LinkTo>
      </div>
      <navbar.content>
        <navbar.nav as |nav|>
          <nav.item>
            <nav.link-to @route="index">Home</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="libraries">Libraries</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="authors">Authors</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="books">Books</nav.link-to>
          </nav.item>
        </navbar.nav>
        <navbar.nav class="ml-auto" as |nav|>
          <nav.item>
            <nav.link-to @route="about">About</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="contact">Contact</nav.link-to>
          </nav.item>
          <nav.dropdown as |dd|>
            <dd.toggle>Admin <span class="caret"></span></dd.toggle>
            <dd.menu as |ddm|>
              <ddm.item>
                <ddm.link-to @route="admin.invitations">Invitations</ddm.link-to>
              </ddm.item>
              <ddm.item>
                <ddm.link-to @route="admin.contacts">Contacts</ddm.link-to>
              </ddm.item>
              <ddm.item>
                <ddm.link-to @route="admin.seeder">Seeder</ddm.link-to>
              </ddm.item>
            </dd.menu>
          </nav.dropdown>
        </navbar.nav>
      </navbar.content>
    </div>
  </BsNavbar>
</header>

<main role="main" class="container mt-4">
  {{outlet}}
</main>

<footer class="page-footer">
  <div class="container mt-4">
    <p>
      Welcome in the Ember.js demo application. Please click through and check all menus and features. You can build
      this application. Details are available at <a href="https://nauman-shahid.medium.com/how-to-build-a-simple-ember-application-80f5b8ccb076">Medium</a> article.
      Please do not use your real email address because this database is public. You can configure your own database by following the instructons at <a href="https://nauman-shahid.medium.com/how-to-build-a-simple-ember-application-80f5b8ccb076">Medium</a>.
      The source code is available at <a href="https://github.com/muhammadnaumanshahid/simple_ember_application.git">GitHub</a>.
    </p>
    <p>
      If you have any question or suggestion, please contact me at my website <a href="http://nshahid.info">Muhammad Nauman Shahid</a> or follow me on <a href="https://twitter.com/bennett_holiday">Twitter</a>.
      </p>
    <p>If you run this app from your own computer, don't forget to update Firebase parameters in <code>config/environment.js</code>.
    </p>
  </div>
</footer>
